<div class="easy-effect-card">
  <ul class="dnd5e chat-card easy-effect-list easy-effect-effects-list">
    {{#each targetedActiveEffects}}
    <li class="card-header" data-effect-uuid="{{uuid}}" {{#if @root/isGM}}draggable="true" {{/if}}>
      <img class="token-image" src="{{data.icon}}" title="{{data.label}}" width="36" height="36">

      <h3>{{data.label}}</h3>
      <div class="status-chip">
        <span>{{duration.label}}</span>
        <i class="fas fa-hourglass-half"></i>
      </div>
    </li>
    {{/each}}
  </ul>

  {{#if targetedTokens}}
  <details>
    <summary class="easy-effect-combatant-summary">
      <span class="easy-effect-combatant-summary-label">
        Targeted Tokens
      </span>
      <button type="button" class="easy-effect-apply" data-action="apply-all-effects-to-all" title="Apply All Effects to All Targets">
        <i class="fas fa-check-square"></i>
      </button>
    </summary>
    
    <ul class="dnd5e chat-card easy-effect-list easy-effect-combatant-list">
      {{#each targetedTokens}}
      <li class="card-header" data-token-id="{{id}}">
        <img class="token-image" src="{{data.img}}" title="{{data.name}}" width="36" height="36">

        <h3>{{data.name}}</h3>

        <button type="button" class="easy-effect-apply" data-action="apply-all-effects" title="Apply All Effects"><i class="fas fa-check-square"></i></button>
      </li>
      {{/each}}
    </ul>
  </details>
  {{/if}}
</div>